@font-face {
    font-family: Bender;
    src:url('../static/bender/Bender/Jovanny\ Lemonad\ -\ Bender.otf')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    visibility: hidden;
}

.flashes {
    text-align: center;
    padding-top: 15px;
    list-style-type: none;
    font-size: xx-large;

}

body {
    font-family: Bender;
    background-color: #181818;
    color: white;
}

nav {
    display:flex;
    justify-content: space-between;
}

nav h1 {
    padding-left: 15px;
}

nav ul {
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    list-style-type: none;
    padding-left: 30px;
}

nav div {
    display:flex;
    list-style-type: none;
    align-items: center;
    text-align:center;
}

nav ul li a {
    color:#998765;
    font-size: xx-large;
    border-bottom: solid;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
}

.log-stuff {
    display:flex;
    gap: 15px;
    padding-right: 15px;
    align-items: center;
    text-align: center;
    list-style-type: none;
}

.login-btn {
    color: #998765;
    font-size: larger;
    border-bottom: none;
    text-decoration: none;
}

.login_title {
    text-align: center;
}

.register_title {
    text-align: center;
}

.login_form {
    text-align: center;
}

.register_form {
    text-align: center;
}

.logout-btn {
    color: #998765;
    font-size: larger;
    border-bottom: none;
    text-decoration: none;
}

.register-btn {
    color: #998765;
    font-size: larger;
    border-bottom: none;
    text-decoration: none;
}

/* HIDEOUT PAGE --------------------------------------------------------------------------- */
main {
    height: 80vh;
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 50px;
}

main h1 {
    text-align: center;
}

.loot_container {
    display:flex;
    justify-content: center;
    gap: 25px;
}

.loot_category {
    display:block;
    flex-direction: column;
    border-style: groove;
    border-color:#998765;
    width: 300px;
    height: 650px;
}

.loot_category h1 {
    color: #998765;
    font-size: xx-large;
    border-bottom: solid;
    padding-bottom: 25px;
}
.loot_category ul {
    padding: 0;
}

.loot_category ul li {
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 5px;
    text-align: left;
}

.loot_category ul li div {
    display:flex;
}

.hideout-item-name {
    padding-left: 20px;
}

.loot_category ul li a {
    color: inherit;
    text-decoration: none;
    font-weight: 800;
    font-size:medium;
    padding-left: 5px;
}

/* AMMO PAGE --------------------------------------------------------------------------- */

.ammo-main {
    justify-content: center;
    align-items: center;
}

.ammo-box {
    border: 5px solid red;
}

.btn-container {
    display:flex;
    border: 5px solid orange;
}

.btn-box {
    display:flex;
    border: 5px solid green;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    border-bottom: 3px solid white;
}

/* zebra stripes */
tr:nth-child(even) {
    background-color: #2c2c2c;
}

tr:hover {
    cursor: pointer;
}