@font-face {
    font-family: Bender;
    src:url('../static/bender/Bender/Jovanny\ Lemonad\ -\ Bender.otf')
}

body {
    font-family: Bender;
    background-color: #181818;
    color: white;
}

nav {
    display:flex;
    justify-content: center;

}

nav ul {
    display:flex;
    align-items: center;
    text-align: center;
    list-style-type: none;
}

nav ul li a {
    color:#998765;
    font-size: xx-large;
    border-bottom: solid;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
}

.login-btn {
    color: #998765;
    font-size: larger;
    border-bottom: none;
    text-decoration: none;
}

.login_title {
    text-align: center;
}

.register_title {
    text-align: center;
}

.login_form {
    text-align: center;
}

.register_form {
    text-align: center;
}

.logout-btn {
    color: #998765;
    font-size: larger;
    border-bottom: none;
    text-decoration: none;
}

.register-btn {
    color: #998765;
    font-size: larger;
    border-bottom: none;
    text-decoration: none;
}

.log-stuff {
    position: absolute;
    padding-left: 600px;
}

main {
    height: 80vh;
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 50px;
}

main h1 {
    text-align: center;
}

.loot_container {
    display:flex;
    justify-content: center;
    gap: 25px;
}

.loot_category {
    display:block;
    flex-direction: column;
    border-style: groove;
    border-color:#998765;
    width: 300px;
}

.loot_category h1 {
    color: #998765;
    font-size: xx-large;
    border-bottom: solid;
    padding-bottom: 25px;
}
.loot_category ul {
    padding: 0;
}

.loot_category ul li {
    list-style-type: none;
    padding-left: 25px;
}

