{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block content %}
<main class='ammo-main'>

    <!-- Place Jinja2 logic here to read and display data passed from render_template that was acquired from TarkovAPI -->

    <div class="ammo-box">
        {% for ammunition in result.data.ammo %}
            <h4>{{ ammunition.item.name }}</h4>
            <div class="ammo-details">
                <div class="ammo-info">
                    <p>Damage</p>
                    <p>{{ ammunition.item.properties.damage }}</p> 
                </div>
                <div class="ammo-info">
                    <p>Penetration Power</p>
                    <p>{{ ammunition.item.properties.penetrationPower }}</p>
                </div>
                <div class="ammo-info">
                    <p>Fragmentation Chance</p>
                    <p> {{ ammunition.item.properties.fragmentationChance }}</p>
                </div>
                <div class="ammo-info">
                    <p>Recoil Modifier</p>
                    <p>{{ ammunition.item.properties.recoilModifier }}</p>
                </div>
                <div class="ammo-info">
                    <p>Accuracy Modifier</p>
                    <p>{{ ammunition.item.properties.accuracyModifier }}</p>
                </div>
                <div class="ammo-info">
                    <p>Initial Speed</p>
                    <p>{{ ammunition.item.properties.initialSpeed }}</p>
                </div>
                <div class="ammo-info">
                    <p>Penetration Chance</p>
                    <p>{{ ammunition.item.properties.penetrationChance }}</p>
                </div>
            </div>
        {% endfor %}
    </div>


</main>
{% endblock content %}