{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block content %}
<main class='ammo-main'>

    <div class="btn-container">
        <div class="btn-box" id="7.62">
            <button class="caliberBtn" id="7.62x25mm" value="Caliber762x25TT">7.62x25mm</button>
            <button class="caliberBtn" id="7.62x39mm" value="Caliber762x39">7.62x39mm</button>
            <button class="caliberBtn" id="7.62x51mm" value="Caliber762x51">7.62x51mm</button>
            <button class="caliberBtn" id="7.62x51mm" value="Caliber762x54R">7.62x54R</button>
        
            <button class="caliberBtn" id="5.56x45mm" value="Caliber556x45NATO">5.56x45mm</button>
        
            <button class="caliberBtn" id="9x18mm" value="Caliber9x18PM">9x18mm</button>
            <button class="caliberBtn" id="9x19mm" value="Caliber9x19PARA">9x19mm</button>
            <button class="caliberBtn" id="9x21mm" value="Caliber9x21">9x21mm</button>
            <button class="caliberBtn" id="9x39mm" value="Caliber9x39">9x39mm</button>
        

            <button class="caliberBtn" id="12GaugeShot" value="Caliber12g">12</button>
            <button class="caliberBtn" id="12GaugeSlug" value="Caliber12g">12</button>

        
            <button class="caliberBtn" id="20Gauge" value="Caliber20g">20</button>
        
            <button class="caliberBtn" id=".300 BLK" value="Caliber762x35">.300</button>
        
            <button class="caliberBtn" id=".366" value="Caliber366TKM">.366</button>
        
            <button class="caliberBtn" id=".338LapuaMagnum" value="Caliber86x70">.338</button>
    
            <button class="caliberBtn" id=".357 Magnum" value="Caliber9x33R">.357</button>
    
            <button class="caliberBtn" id=".45" value="Caliber1143x23ACP">.45</button>
    
            <button class="caliberBtn" id="23x75mm" value="Caliber23x75">23x75mm</button>
    
            <button class="caliberBtn" id="5.7x28mm" value="Caliber57x28">5.7x28mm</button>
    
            <button class="caliberBtn" id="4.6x30mm" value="Caliber46x30">4.6x30mm</button>
    
            <button class="caliberBtn" id="5.45x39mm" value="Caliber545x39">5.45x39mm</button>
    
            <button class="caliberBtn" id="12.7x55mm" value="Caliber127x55">12.7x55mm</button>
        </div>
    </div>
    

    <div class="ammo-box" id="ammo-box">
        <table>
            <thead>
                <tr>
                    <th>Round</th>
                    <th>Damage</th>
                    <th>Penetration</th>
                    <th>Fragmentation</th>
                    <th>Accuracy</th>
                    <th>Speed (M/S)</th>
                </tr>
            </thead>
            <tbody>
                {% for ammunition in ammunition_list %}
                    <tr data-caliber="{{ ammunition.item.properties.caliber }}">
                        <td>
                            <img class="baseImg" src="{{ammunition.item.baseImageLink}}" style="width: 75px">
                            <p>{{ammunition.item.name}}</p>
                        </td>
                        <td>{{ ammunition.item.properties.damage }}</td>
                        <td>{{ ammunition.item.properties.penetrationPower }}</td>
                        <td>{{ ammunition.item.properties.fragmentationChance }}</td>
                        <td>{{ ammunition.item.properties.accuracyModifier }}</td>
                        <td>{{ ammunition.item.properties.initialSpeed }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</main>
<script src="{{ url_for('static', filename='caliber.js') }}"></script>
{% endblock content %}