{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block content %}
<!-- Place Jinja2 logic here to read and display data passed from render_template that was acquired from TarkovAPI -->
<main class='armor-main'>
    
    <div class="btn-container">
        <div class="btn-box">
            <button class="armorClass" value="1">1</button>
            <button class="armorClass" value="2">2</button>
            <button class="armorClass" value="3">3</button>
            <button class="armorClass" value="4">4</button>
            <button class="armorClass" value="5">5</button>
            <button class="armorClass" value="6">6</button>
        </div>
    </div>


    <div class="armor-box" id="armor-box">
        <table>
            <thead>
                <tr>
                    <th>Armor</th>
                    <th>Type</th>
                    <th>Material</th>
                    <th>Class</th>
                    <th>Durability</th>
                    <th>Penalties</th>
                </tr>
            </thead>
            <tbody>
                {% for item in armor_items %}
                    <tr>
                        <td>
                            <img class="baseImg" src="{{item.baseImageLink}}" style="width: 75px">
                        </td>

                        {% if item.item_type == 'armor' %}
                            <td>
                                {{item.properties['armorType']}}
                            </td>
                            <td>
                                {{item.properties['material']['name']}}
                            </td>
                            <td>
                                {{item.properties['class']}}
                            </td>
                            <td>
                                {{item.properties['durability']}}
                            </td>
                            <td>                     
                                <p>ergo: {{item.properties['ergoPenalty']}}</p>
                                <p>speed: {{item.properties['speedPenalty']}}</p>
                                <p>turn: {{item.properties['turnPenalty']}}</p>
                            </td>


                        {% elif item.item_type == 'rig' %}

                            <td>
                                {{item.properties['armorType']}}
                            </td>

                            <td>
                                {{item.properties['material']['name']}}
                            </td>

                            <td>
                                {{item.properties['class']}}
                            </td>

                            <td>
                                {{item.properties['durability']}}
                            </td>

                            <td>
                                <p>ergo: {{item.properties['ergoPenalty']}}</p>
                                <p>speed: {{item.properties['speedPenalty']}}</p>
                                <p>turn: {{item.properties['turnPenalty']}}</p>
                            </td>


                        {% endif %}
                    </tr>
                {%endfor%}
            </tbody>
        </table>

    </div>

</main>
<script src="{{ url_for('static', filename='armor.js') }}"></script>
{% endblock content %}
