{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block content %}
<!-- Place Jinja2 logic here to read and display data passed from render_template that was acquired from TarkovAPI -->
<main class='armor-main'>
    

    <div class="armor-box" id="armor-box">
        <table>
            <thead>
                <tr>
                    <th>Armor</th>
                    <th>Type</th>
                    <th>Material</th>
                    <th>Class</th>
                    <th>Durability</th>
                    <th>Penalties</th>
                </tr>
            </thead>
            <tbody>
                {% for armor in armor_list %}
                    <tr>
                        <td>
                            <img class="baseImg" src="{{armor.baseImageLink}}" style="width: 75px">
                        </td>

                        <!-- checks if properties is empty or not -->
                        {% if armor.properties %}
                            <td>
                                {{armor.properties['armorType']}}
                            </td>
                            <td>
                                {{armor.properties['material']['name']}}
                            </td>
                            <td>
                                {{armor.properties['class']}}
                            </td>
                            <td>
                                {{armor.properties['durability']}}
                            </td>
                            <td>
                                <p>ergo: {{armor.properties['ergoPenalty']}}</p>
                                <p>speed: {{armor.properties['speedPenalty']}}</p>
                                <p>turn: {{armor.properties['turnPenalty']}}</p>
                            </td>
                        <!-- If properties is empty, then it is a rig. -->
                        {% else %}
                            {% for rig in rig_list %}
                                {% if rig['name'] == armor.name %}

                                    <td>
                                        {{rig.properties['armorType']}}
                                    </td>
                                    <td>
                                        {{rig.properties['material']['name']}}
                                    </td>
                                    <td>
                                        {{rig.properties['class']}}
                                    </td>
                                    <td>
                                        {{rig.properties['durability']}}
                                    </td>
                                    <td>
                                        <p>ergo: {{rig.properties['ergoPenalty']}}</p>
                                        <p>speed: {{rig.properties['speedPenalty']}}</p>
                                        <p>turn: {{rig.properties['turnPenalty']}}</p>
                                    </td>

                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </tr>
                {%endfor%}
            </tbody>
        </table>

    </div>

</main>
<!-- script here at end -->
{% endblock content %}
