<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/styles.css">
    {% endblock head %}
</head>
<body>

    <!-- block to be used in every template -->
    {% block nav %}
        <div>
            <nav>
                <div>

                    <h1>EFT HELPER</h1>

                </div>
                <ul>

                    <li>
                        <a href="/hideout">Hideout</a>
                    </li>
    
                    <li>
                    <a href="/quests">Quests</a>
                    </li>

                    <li>
                        <a href="/ammo">Ammo</a>
                    </li>

                    <li>
                        <a href="/armor">Armor</a>
                    </li>

                </ul>

                <div class="log-stuff">

                    {% if current_user.is_authenticated %}
                        <li>
                            <a href="{{url_for('logout')}}" class="logout-btn">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{url_for('login')}}" class="login-btn">Login</a>
                        </li>

                        <li>
                            <a href="{{url_for('register')}}" class="register-btn">Register</a>
                        </li>
                    {% endif %}
                </div>

            </nav>
            
        </div>

    {% endblock nav %}

    <!-- block to be overwritten in each template -->
    {% block content %}{% endblock content %}
</body>
</html>