<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/styles.css">
    {% endblock head %}
</head>
<body>

    <!-- block to be used in every template -->
    {% block nav %}
        <div>
            <nav>
                <ul>
                    <li>
                        <a href="/hideout">Hideout</a>
                    </li>
    
                    <li>
                       <a href="/quests">Quests</a>
                    </li>
                    <li>
                        <a href="/ammo">Ammo</a>
                    </li>
                    <li>
                        <a href="/armor">Armor</a>
                    </li>
                    <li>
                        <a href="{{url_for('login')}}" class="loginbtn">Login</a>
                        <a href="{{url_for('logout')}}" class="logoutbtn">Logout</a>
                    </li>
                </ul>
            </nav>
            
        </div>

    {% endblock nav %}

    <!-- block to be overwritten in each template -->
    {% block content %}{% endblock content %}
</body>
</html>