{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock head %} 

{% block content %}
    <main>
        <h1>HIDEOUT MATERIALS</h1>
        <div class="loot_container">
            <div class="loot_category">
                <h1>Hardware</h1>
                <ul>
                    {% for user_item in hardware %}
                        <li>
                            {{ user_item.item.item_name }}  {{user_item.quantity}} / {{user_item.item.req_quantity}}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="loot_category">
                <h1>Electronics</h1>
                <ul>
                    {% for user_item in electronics %}
                    <li>
                        {{ user_item.item.item_name }}  {{user_item.quantity}} / {{user_item.item.req_quantity}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="loot_category">
                <h1>Medical</h1>
                <ul>
                    {% for user_item in medical %}
                    <li>
                        {{ user_item.item.item_name }}  {{user_item.quantity}} / {{user_item.item.req_quantity}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="loot_category">
                <h1>Valuables</h1>
                <ul>
                    {% for user_item in valuables %}
                    <li>
                        {{ user_item.item.item_name }}  {{user_item.quantity}} / {{user_item.item.req_quantity}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>
{% endblock content %}



