{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock head %} 

{% block content %}
    <main>

        <!-- Place Jinja2 logic here to read and display data passed from render_template that was acquired from TarkovAPI -->
        
        <h1>HIDEOUT MATERIALS</h1>
        <div class="loot_container">
            <div class="loot_category">
                <h1>Hardware</h1>
                <ul>
                    {% for user_item in hardware_sorted %}
                        <li>
                            <div>
                                <a href='/increment/{{ user_item.user_items_id }}'>+</a> <a href="/decrement/{{ user_item.user_items_id }}">-</a> <div class="hideout-item-name">{{ user_item.item.item_name }}</div>  
                            </div>
                            
                            <div>{{user_item.quantity}} / {{user_item.item.req_quantity}}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="loot_category">
                <h1>Electronics</h1>
                <ul>
                    {% for user_item in electronics_sorted %}
                    <li>
                        <div>
                            <a href="/increment/{{ user_item.user_items_id }}">+</a> <a href="/decrement/{{ user_item.user_items_id }}">-</a> <div class="hideout-item-name">{{ user_item.item.item_name }}</div>  
                        </div>  
                        
                        <div>{{user_item.quantity}} / {{user_item.item.req_quantity}}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="loot_category">
                <h1>Medical</h1>
                <ul>
                    {% for user_item in medical_sorted %}
                    <li>
                        <div>
                            <a href="increment/{{ user_item.user_items_id }}">+</a> <a href="decrement/{{ user_item.user_items_id }}">-</a> <div class="hideout-item-name">{{ user_item.item.item_name }}</div>  
                        </div>  
                        
                        <div>{{user_item.quantity}} / {{user_item.item.req_quantity}}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="loot_category">
                <h1>Valuables</h1>
                <ul>
                    {% for user_item in valuables_sorted %}
                    <li>
                        <div>
                            <a href="increment/{{ user_item.user_items_id }}">+</a> <a href="decrement/{{ user_item.user_items_id }}">-</a> <div class="hideout-item-name">{{ user_item.item.item_name }}</div>  
                        </div>  
                        
                        <div>{{user_item.quantity}} / {{user_item.item.req_quantity}}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>
{% endblock content %}



