
{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock head %} 

{% block content %}
    <h1 class="login_title">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    </h1>
    <form method="POST" action="" class="login_form">
        {{form.hidden_tag()}}
        {{form.username}}
        {{form.password}}
        {{form.submit}}
    </form>
    <h2 class="welcome">
        {% if current_user.is_authenticated %}
            Hi {{ current_user.user_name }}!
        {% endif %}
    </h2>
{% endblock content %}