{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block content %}
<main class="quest-main">

    <button class="traderBtn" value="Prapor">Prapor</button>
    <button class="traderBtn" value="Therapist">Therapist</button>
    <button class="traderBtn" value="Peacekeeper">Peacekeeper</button>
    <button class="traderBtn" value="Mechanic">Mechanic</button>
    <button class="traderBtn" value="Fence">Fence</button>
    <button class="traderBtn" value="Ragman">Ragman</button>

    <div class="quest-box" id="quest-box">
        <table>
            <thead>
                <tr>
                    <th>Trader</th>
                    <th>Name</th>
                    <th>Objective</th>
                </tr>
            </thead>
            <tbody>
                {% for quest in quest_list %}
                    <tr data-quests="{{quest['trader']['name']}}">
                        <td>
                            <!-- [0] for testing reasons, remove when loop comes in -->
                            <img class="baseImg" src="{{quest['trader']['imageLink']}}" style="width: 75px">
                        </td>


                            <td>
                                {{quest['name']}}
                            </td>

                            <td>
                                {% for desc in quest['objectives'] %}
                                    <p>{{ desc.description }}</p>
                                {% endfor %}
                            </td>
                            
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</main>
<script src="{{ url_for('static', filename='trader.js') }}"></script>
{% endblock content %}
